.marginBottomCustom{
    margin-bottom: 23px;
}
.heightCustom{
    height: 75px;
}
.textCenter{
    text-align: center;
    margin: 0 auto !important;
}
.paddingCustom{
    padding-left: 5px;
    padding-right: 5px;
}
.marginCustom{
    margin: 0px 5px;
}
.adjustText{
    font-size: .6rem !important;
}