
<ion-content scrollbar>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button color="primary" defaultHref="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>Restablecer contraseña</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="boxCustom">
    <ion-row class="w100">
      <ion-col size="12" size-md="3.5"></ion-col>
      <ion-col class="cardCustom ion-margin-top" size="12" size-md="5">
        <p class="ion-text-center title">Ingresá tu Email para recuperar tu contraseña</p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
    
          <ion-list>
    
            <ion-item lines="full" class="class-input">
              <ion-label color="primary" position="floating">Email</ion-label>
              <ion-input type="email" formControlName="emailAddress"></ion-input>
            </ion-item>
            <div *ngIf="!isFieldValid('emailAddress')" class="invalid-input-message">
              {{getFieldError('emailAddress')}}
            </div>

          </ion-list>
    
          <ion-row class="class-row-button ion-margin-top">
            <ion-col class="class-col-button">
              <ion-button type="submit" color="secondary" expand="block" [disabled]="!form.valid">Enviar</ion-button>
            </ion-col>
          </ion-row>
    
        </form>
      </ion-col>
      <ion-col size="12" size-md="3.5"></ion-col>
    </ion-row>
  </div>
</ion-content>